/*Заголовок над формой*/
.formbox-wrap{
	background: #eff3f7;	
	margin-bottom: 26px;
	padding-bottom: 40px;
}

.formbox {
	background: #48cbe8;
	border-radius: 4px;
	margin-bottom: 42px;

}

.formbox .form-header {
	border-bottom: 18px #67dffa solid;
	padding: 23px 58px 18px 58px;
}

.form-header-text {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #fff;
	line-height: 30px;

}
/*Конец заголовка над формой*/
/*Форма*/
.form-content {
	/*padding: 0 124px; выравнивание формы на странице*/
	width: 402px;
	margin: 0px auto;
}

.input-form {
	margin-bottom: 10px; /*вертикальные отступы между блоками в форме*/
}

.form-label {
	font-style: 'fira_sanslight';
	font-size: 19px;
	color: #959aa8;
}

.form-element {
	 outline: none; /*Убираем подсветку полей в хроме и сафари*/
	 border: 1px #48cbe8 solid;
	 font-style: 'fira_sanslight';
	 font-size: 13px;
	 color: #48cbe8;
	 padding: 10px 8px;
	 width: 176px;
	 border-radius: 4px;

}

/*Поле ввода сообщения*/
.form-textarea {
	resize: none; /*Запрещаем изменять размер*/
	height: 160px;
	width: 385px;
	display: block;

}

.input-form-name {
	width: 48%;
	float: left;
}
.input-form-email{
	width: 48%;
	float: right;
}


/*Стили для пласхолдер*/
input::-webkit-input-placeholder {color: #48cbe8;}
input:-moz-placeholder {color: #48cbe8;}
textarea::-webkit-input-placeholder {color: #48cbe8;}
textarea:-moz-placeholder {color: #48cbe8;}
/*Конец Стили для пласехолдер*/

/*кнопки*/
.submit-button {
border-radius: 5px;
background-color: #48CBE8;
height: 33px;
border-style: solid;
border-color: #3BA8C0;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-width: 0px 0px 2px;
color: #F6F6F6;
font-family: "fira_sansbook";
font-size: 20px;
padding: 0px 20px;
}

.submit-button:hover {
    border-bottom: medium none;
}
.submit-button:active {
    border-top: 2px solid #3BA8C0;
}

.reset-button {
	float: right;
	background: #849DB5 none repeat scroll 0% 0%;
	border-color: #687B8F;
}

/*блок с капчей*/
.captcha-wrap {
margin: 0px auto 20px;
}
.input-captcha {
	width: 41%;
	margin-top: 21px;
	padding: 6px 12px;
}
.floating-left {
	float: left;
}

.floating-right {
	float: right;
}

/*Конец формы*/


